<%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @micropost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content, '¿Qué idea tienes?' %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :name, 'Tu nombre:' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, 'Correo (no te preocupes, no lo compartiré):'%><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit 'Compartir mi idea.'%>
  </div>
<% end %>
